mixin data()
  section.data
    h2.data__title.visually-hidden Данные пользователей
    .data__sort-control
      span Сортировка:
      button(type="button").data__sort-control.data__sort-control--active Дата регистрации
      button(type="button").data__sort-control Рейтинг
    ul.data__list
