mixin data()
  section.data
    h2.data__title.visually-hidden Данные пользователей
    .data__sort-control
      span Сортировка:
      button(type="button").data__control-button.data__control-button--active Дата регистрации
      button(type="button").data__control-button Рейтинг
    .data__list-wrapper
      .data__list-header
        .data__list-column-name
          span Имя пользователя
        .data__list-column-name
          span E-mail
        .data__list-column-name
          span Дата регистрации
        .data__list-column-name
          span Рейтинг
      ul.data__list

    template(id="user")
      li.data__item
        .data__item-section
          p.data__item-name
        .data__item-section
          p.data__item-email
        .data__item-section
          p
            time.data__item-registration-data
        .data__item-section
          p.data__item-rating
        .data__delete-button-box
          button.data__delete-button(type="button")
            +icon("icon-close", 16, 16)
