mixin search-form()
  .search-form
    form.search-form__form(action="")
      .search-form__input-wrapper
        +custom-input({
          inputLabel: "Поиск по имени или e-mail",
          inputPlaceholder: "Поиск по имени или e-mail",
          inputId: "user-email",
          inputName: "user-email",
          iconId: "icon-search",
        })(class="search-form__input")
      button.search-form__submit.search-form__submit--hide(type="button" disabled)
        +icon("icon-clear", 16, 16)
        span Очистить фильтр
