.custom-input {
  position: relative;
  display: flex;
  width: 100%;
}

input {
  width: 100%;
  min-height: 34px;
  padding: 5px 30px;
  background-color: $color-alice-blue;
  border: 2px solid $color-alice-blue;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  transition: border $trans-default;

  &:hover {
    border: 2px solid $color-matterhorn;
  }

  &:focus {
    border: 2px solid $color-matterhorn;
  }

  &::placeholder {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: $color-nepal;
  }
}

.custom-input__icon {
  position: absolute;
  top: 5px;
  left: 3px;
  color: $color-nepal;
}

.custom-input.is-invalid {
  input {
    border: 2px solid $color-torch-red;

    &:focus,
    &:hover {
      border: 2px solid rgba($color-torch-red, 0.5);
    }
  }

  .custom-input__error {
    opacity: 1;
  }
}
