mixin modal(mods, id)
  .modal.modal--preload(class=mods, data-modal=id)&attributes(attributes)
    .modal__wrapper
      .modal__overlay(data-close-modal)
      .modal__content
        if block
          block
