mixin modal-confirm()
  .modal-confirm
    p.modal-confirm__question Вы уверены, что хотите удалить пользователя?
    .modal-confirm__button-box
      button.modal-confirm__button.modal-confirm__button--yes(type="button" data-close-modal) Да
      button.modal-confirm__button.modal-confirm__button--no(type="button" data-close-modal) Нет
